<IfModule mod_rewrite.c>

	RewriteEngine On

	ErrorDocument 404 /errors
	
	RewriteCond %{REQUEST_FILENAME} !-d
	RewriteCond %{REQUEST_FILENAME} !-f
	RewriteRule ^(.*)$ index.php?arguments=$1 [L,NC,QSA]
	
</IfModule>