.jumbotron img {
    width: 200px;
}
.jumbotron .btn {
    width: 49%;
}

.jumbotron .login {
    float: right;
    margin-right: -50px;
    margin-top: -50px;
}

.row img {
	width: 100%;
}
.row > div {
	margin-top: 7px;
}