.jumbotron img {
    width: 200px;
}
.jumbotron .btn {
    width: 49%;
}

.jumbotron .login {
    float: right;
    margin-right: -50px;
    margin-top: -50px;
}

.row img {
	width: 100%;
}
.row > div {
	margin-top: 7px;
}

#mainPhoto {

    position: relative;
}

.sousPhoto{
    float: left;
    width: 100px;
    height: 100px;
    background-color: rgba(234, 136, 37, 0.5);
    float: left;
}